*
{
    font-family: sans-serif;
}
body
{
    font-size: large;
    //overflow-x: hidden;
    //background-image: url("pBackGround.jpg");
    //background-size: cover;
}
.container
{
    margin: auto;
    margin-top: 150px;
}

.navbar
{
    background-color: WindowFrame;
    width: 50%;
    font-size: large;
    position: relative;
    left: 3%;
}

li
{
    display: inline;
    float: left;
}
li a
{
    display: inline;
    color: #323232;
    text-align: center;
    text-decoration: none;
}

li.selected a
{
    color: #3b6caa;
}

li a:hover {
    color: #3b6caa;
}

.main
{
    border: solid;
    border-color: Window;
    height: 320px;
    position: relative;
    top: -20px;
    //size: 900px;
}

#myImage
{
    width:270px ;
    height:auto;
    padding:2px;
    border:1px solid window;
    background-color:white;

    position:absolute;
    top: 30px;
    left: 30px;

    display: inline;
}
.userInfo
{
    color: #337ab7;
    display: inline;
    width:40%;
    position: absolute;
    top: 60px;
    left: 350px;
}
.userInfo p,.Rating p
{
    font-size: 150%;
    display: inline;
    padding-left: 1%;
    color: #323232;
    position: relative;
}
.glyphicon{
    color: #337ab7 !important;
    align-self: center !important;
    font-size: 150%;
    padding-left: 5%;
    padding-bottom: 3%;
    display: inline;
}
.Rating .glyphicon
{
    color: #FFDF00 !important;
    padding-left: 1%;
    font-size:150%;
    position: relative;
    display: inline;
}
.Rating .yellowStar
{
    color: #337ab7 !important;
    align-self: center !important;
    font-size: 150%;
    padding-left: 5%;
    padding-top: 1%;
    display: inline;
}
.Rating p{
    display: inline;
    color:#323232;
    padding-left: 1%;
}
.chartContainer1
{
  width: 50%;
  margin: 15px auto;

}
.chartContainer2
{
    width:50%;
    margin: 15px auto;
}